.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.button-row {
  display: inline-block;
  margin-left: 10px;
}

.header-spacer {
  flex: 1 1 auto;
}

.cities-table-card {
  margin: 2% auto;
  max-width: 500px;
}

.cities-table-row {
  cursor: pointer;
}

.search-city-label {
  font-size: 14px;
  color: darkgrey;
}
