.edit-city {
  margin: 2% auto;
  max-width: 500px;
}

.edit-url-field {
  display: block;
  width: 100%;
}

.image-container {
  width: 500px;
  height: 400px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.save-button-row {
  display: inline-block;
  margin-left: 10px;
}
