.edit-city {
  margin: 2% auto;
  max-width: 500px;
}

.edit-url-field {
  display: block;
  width: 60%;
}

.image-container {
  max-width: 400px;
  max-height: 400px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}
